# Ignore git records in subfolders
**/.git/

# Ignore all torch files
*.pt
*.pth
*.pth.tar

# Ignore all datasets
data/

# Ignore all training results
results/
checkpoints/
logs/

# Ignore repos and submodules
adversarial-attacks-pytorch/
apex/
byol/
CompRess/
defense/
mae/
mine-pytorch/
moco/
simsiam/
SSL-Cleanse/
scripts/analysis/
scripts/files/

# Ignore private things
configs/**/*badencoder*.yaml
configs/**/*na*.yaml
configs/ablation/**
moco/**/*badencoder*

scripts/models_vis.ipynb
scripts/representation_analysis3.py
scripts/*compress*.sh
datasets/dataset_backup.py
datasets/hidden.py