# Ignore git records in subfolders
**/.git/

# Ignore all datasets
data/

# Ignore all training results
results/
checkpoints/
logs/

# Ignore repos and submodules
adversarial-attacks-pytorch/
apex/
byol/
CompRess/
defense/
mae/
mine-pytorch/
moco/
simsiam/
SSL-Cleanse/
scripts/analysis/
scripts/files/

# Ignore private things
scripts/models_vis.ipynb
scripts/representation_analysis3.py
datasets/dataset_backup.py